.our-team-section {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f4fa;
  margin: 0 auto;
}

.our-team-member {
  padding: 30px 32px;
  background: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  font-family:'Roboto';
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;

  &-item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.our-team-item-link {
    fill: #afb1b8;
    background-color: var(--secondary-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}