:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --subtitle-weight: 700;
  --accent-color: #2196f3;
  --text-color: #757575;
  --secondary-text-color: #ffffff;
  --subtitle-color: #212121;
  --bcg-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
